.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.w-per-30 {
  width: 30%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

.m-per-2 {
  margin: 2%;
}

.p-per-2 {
  padding: 2%;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.pse-icono {
  background-image: url(../../images/pse.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.registrar-ahorro-icono {
  background-image: url(../../images/registro.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.crecimiento-icono {
  background-image: url(../../images/Semilla.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pedir-prestamo-icono {
  background-image: url(../../images/pedir-prestamo.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.votar-icono {
  background-image: url(../../images/votar-prestamo.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.movimientos-icono {
  background-image: url(../../images/movimientos.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ver-prestamos-icono {
  background-image: url(../../images/ver-prestamos.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pedir-prestamo-asociacion-icono {
  background-image: url(../../images/pedir-prestamo.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reglas-icono {
  background-image: url(../../images/Reglas.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.informacion-personal-icono {
  background-image: url(../../images/Identidad.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.manuales-icono {
  background-image: url(../../images/manuales.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.preguntas-icono {
  background-image: url(../../images/preguntas.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor-opcion {
  max-width: 150px;
  background-color: #262626;
  padding: 5px 7px 0px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.icono-opciones {
  max-height: 100px;
  min-height: 90px;
}

.cursor-pointer {
  cursor: pointer;
}

.texto-icono {
  padding-top: 2px;
  height: 48px;
  line-height: 18px;
  color: #fff;
  font-size: 14px;
}

#pedir-prestamo-asociacion-button {
  opacity: 0.6;
}

.breadcrumb {
  font-size: 12px;
}

.custom-row-reglas {
  border-top: 1px solid rgba(0,0,0,.1);
}

.custom-border-right-reglas {
  border-right: 1px solid rgba(0,0,0,.1);
}

.custom-column-reglas {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}